<%= form_for @trail do |f| %>

    <h2>Dodaj trasę</h2>

    <h3>Punkt poczatkowy:</h3>
    <%= f.text_field :start_point_city, :placeholder => "Miasto" %>
    <div class="split">
      <%= f.text_field :start_point_street, :placeholder => "Ulica" %>
      <%= f.text_field :start_point_number, :placeholder => "Nr. ulicy" %>
    </div>

    <h3>Punkt poczatkowy:</h3>
    <%= f.text_field :end_point_city, :placeholder => "Miasto" %>
    <div class="split">
      <%= f.text_field :end_point_street, :placeholder => "Ulica" %>
      <%= f.text_field :end_point_number, :placeholder => "Nr. ulicy" %>
    </div>

    <button type="submit" class="btn btn-default addRoute">Dodaj</button>

    <div style="display: none;">
      <%= f.text_field :name %>
    </div>
<% end %>
