<%= form_for @trail do |f| %>

    <h2><%= t('trails.add_new') %></h2>

    <h3><%= t('trails.start_point') %></h3>
    <%= f.text_field :start_point_city, placeholder: t('trails.city') %>
    <div class="split">
      <%= f.text_field :start_point_street, placeholder: t('trails.street') %>
      <%= f.text_field :start_point_number, placeholder: t('trails.street_number') %>
    </div>

    <h3><%= t('trails.end_point') %></h3>
    <%= f.text_field :end_point_city, placeholder: t('trails.city') %>
    <div class="split">
      <%= f.text_field :end_point_street, placeholder: t('trails.street') %>
      <%= f.text_field :end_point_number, placeholder: t('trails.street_number') %>
    </div>

    <button type="submit" class="btn btn-default addRoute"><%= t('trails.add_trail') %></button>

    <div style="display: none;">
      <%= f.text_field :name %>
    </div>
<% end %>
